<a href="https://colab.research.google.com/github/JamesHop31/module-14-15-16-17/blob/main/16_activity.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd

In [ ]:
filename = '/content/drive/MyDrive/Sampoleo,Marc James G./RailsToTrails_National Count Data_week.csv'
df = pd.read_csv(filename)
df

,Timeframe,Week of,2019 counts (31 counters),2020 counts (31 counters),2021 Counts,Change 2019-2020,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23
0,Week 1,30-Dec,167679.0,183546.0,NaN,9%,1.094627,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Week 2,06-Jan,82340.0,97140.0,NaN,18%,117.974253,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Week 3,13-Jan,62315.0,75782.0,NaN,22%,121.611169,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Week 4,20-Jan,75801.0,83809.0,NaN,11%,110.564504,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Week 5,27-Jan,75841.0,94738.0,NaN,25%,124.916602,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
992,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
993,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
994,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
995,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
996,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df.head()

,Timeframe,Week of,2019 counts (31 counters),2020 counts (31 counters),2021 Counts,Change 2019-2020,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23
0,Week 1,30-Dec,167679.0,183546.0,NaN,9%,1.094627,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Week 2,06-Jan,82340.0,97140.0,NaN,18%,117.974253,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Week 3,13-Jan,62315.0,75782.0,NaN,22%,121.611169,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Week 4,20-Jan,75801.0,83809.0,NaN,11%,110.564504,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Week 5,27-Jan,75841.0,94738.0,NaN,25%,124.916602,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df = df.drop(columns=['Unnamed: 7'])
df.head()

,Timeframe,Week of,2019 counts (31 counters),2020 counts (31 counters),2021 Counts,Change 2019-2020,Unnamed: 6,Unnamed: 8,Unnamed: 9,Unnamed: 10,...,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23
0,Week 1,30-Dec,167679.0,183546.0,NaN,9%,1.094627,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Week 2,06-Jan,82340.0,97140.0,NaN,18%,117.974253,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Week 3,13-Jan,62315.0,75782.0,NaN,22%,121.611169,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Week 4,20-Jan,75801.0,83809.0,NaN,11%,110.564504,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Week 5,27-Jan,75841.0,94738.0,NaN,25%,124.916602,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df = df.drop(columns=['Unnamed: 8'])
df.head()

,Timeframe,Week of,2019 counts (31 counters),2020 counts (31 counters),2021 Counts,Change 2019-2020,Unnamed: 6,Unnamed: 9,Unnamed: 10,Unnamed: 11,...,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23
0,Week 1,30-Dec,167679.0,183546.0,NaN,9%,1.094627,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Week 2,06-Jan,82340.0,97140.0,NaN,18%,117.974253,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Week 3,13-Jan,62315.0,75782.0,NaN,22%,121.611169,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Week 4,20-Jan,75801.0,83809.0,NaN,11%,110.564504,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Week 5,27-Jan,75841.0,94738.0,NaN,25%,124.916602,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df = df.drop(columns=['Unnamed: 9'])
df.head()

,Timeframe,Week of,2019 counts (31 counters),2020 counts (31 counters),2021 Counts,Change 2019-2020,Unnamed: 6,Unnamed: 10,Unnamed: 11,Unnamed: 12,...,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23
0,Week 1,30-Dec,167679.0,183546.0,NaN,9%,1.094627,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Week 2,06-Jan,82340.0,97140.0,NaN,18%,117.974253,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Week 3,13-Jan,62315.0,75782.0,NaN,22%,121.611169,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Week 4,20-Jan,75801.0,83809.0,NaN,11%,110.564504,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Week 5,27-Jan,75841.0,94738.0,NaN,25%,124.916602,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df = df.rename(columns={'Unnamed: 6': 'percent_change','2019 counts (31 counters)': 'counts_2019'})

df.head()

,Timeframe,Week of,2019 counts (31 counters),2020 counts (31 counters),2021 Counts,Change 2019-2020,percent_change,Unnamed: 10,Unnamed: 11,Unnamed: 12,...,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23
0,Week 1,30-Dec,167679.0,183546.0,NaN,9%,1.094627,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Week 2,06-Jan,82340.0,97140.0,NaN,18%,117.974253,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Week 3,13-Jan,62315.0,75782.0,NaN,22%,121.611169,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Week 4,20-Jan,75801.0,83809.0,NaN,11%,110.564504,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Week 5,27-Jan,75841.0,94738.0,NaN,25%,124.916602,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df.dropna(inplace=True)

In [ ]:
df.drop(columns='2021 Counts', inplace=True)
df.isna().sum()

Timeframe                     0.0
Week of                       0.0
 2019 counts (31 counters)    0.0
 2020 counts (31 counters)    0.0
Change 2019-2020              0.0
percent_change                0.0
Unnamed: 10                   0.0
Unnamed: 11                   0.0
Unnamed: 12                   0.0
Unnamed: 13                   0.0
Unnamed: 14                   0.0
Unnamed: 15                   0.0
Unnamed: 16                   0.0
Unnamed: 17                   0.0
Unnamed: 18                   0.0
Unnamed: 19                   0.0
Unnamed: 20                   0.0
Unnamed: 21                   0.0
Unnamed: 22                   0.0
Unnamed: 23                   0.0
dtype: float64